h1 {
color: darkorchid    
}
.listImage {
  width: 50px;
  height: 50px;
}
.listItem
{
  display: flex;
}
.slider {
  width: 500px;
  height: 500px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slide {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
}

.sliderButtons {
  
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.description
{
  width: 700px
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, #74ABE2, #5563DE);
  font-family: 'Ropa Sans', sans-serif;
}


@media (max-width: 600px) {
    h1 {
      color: olive;
    }
    .slide {
      width: 300px;
    }
    .slider {
      width: 300px;
      height: 300px;
    
    }
    body{
      display: inline-block;
      justify-content: center;
    }

}