h1 {
color: darkorchid    
}
.listImage {
  width: 50px;
  height: 50px;
}
.listItem
{
  display: flex;
}
.slider {
  width: 500px;
  height: 500px;
  display: flex;
  overflow-x: auto;

}
.slide {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
}


@media (max-width: 600px) {
    h1 {
      color: olive;
    }
    .slide {
      width: 300px;
    }
    .slider {
      width: 300px;
      height: 300px;
    
    }

}