* {
  margin:0;
}

h1 {
color: white; 
font-size: 5rem; 
display: flex-start;  
}

ul.a {
  list-style-type: square;
}
.listImage {
  width: 50px;
  height: 50px;
}
.listItem{
  display: flex;
}
.slider {
  width: 700px;
  height: 600px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slide {
  width: 700px;
  flex-shrink: 0;
  height: 100%;
}

.sliderButtons {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 15px;
  position: relative;
}

.featureList{
  width: 100%;
}

.textPos{
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.layout{
  justify-content: flex-end;
  align-content: center;
  align-items:flex-end;
  flex-direction: row;
}

body {
  padding: 2em;
  background: linear-gradient(to bottom, #def4e4, #f4f4bd);
  font-family: 'Ropa Sans', sans-serif;
}

.layoutFlex{
display: flex;  
flex-flow: row wrap;
}

.alignBox{
flex: 0 1 50%;
justify-content: center;
align-items: center;
align-content: space-between;
}

.styleBox{
padding-top: 3em;
}
.title{
font-style: oblique;
margin-bottom: 4px;
text-decoration: underline;

}

.descriptionText{
color: blueviolet;
margin-top: 16px;
margin-bottom: 16px;

}
@media (max-width: 600px) {
    h1 {
      color: olive;
      font-size: 3rem;
    }
    .slide {
      width: 350px;
    }
    .slider {
      width: 350px;
      height: 300px;
    
    }
    body{
      display: inline-block;
      align-items: center;
      justify-content: center;
    }

}